{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block title %}<title>Pedidos TERSTEM | Cambiar contraseña.</title>{% endblock %}

{% block contenido %}
    <div class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div class="messages row mx-0 {{ message.extra_tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
{% endblock %}
<!-- TODO: Mejorar diseño de la página. -->
