{% extends 'admin/change_list.html' %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'gestion/css/admin.css' %}">
  <script src="https://kit.fontawesome.com/434ec950ab.js" crossorigin="anonymous"></script>
{% endblock %}

{% block object-tools %}
    <div class="botonera">
        <form action="clasificar/" method="POST">
            {% csrf_token %}
            <button type="submit">
              Clasificar<i class="fas fa-magic"></i>
            </button>
        </form>
        <form action="clasificarplus/" method="POST">
            {% csrf_token %}
            <button type="submit">
              Clasificar y solicitar<i class="fas fa-magic"></i><i class="fas fa-paper-plane"></i>
            </button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}
