{% extends "base_generic.html" %}
{% load static %}
{% block titulo %}Detalles de la nota | PEDIDOS TERSTEM{% endblock %}
{% block header %}Información sobre la nota nº{{ nota.pk }}.{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <table id="detalle-producto" class="table table-striped table-bordered table-sm">
          <tr>
              <td class="w-30"><strong>Fecha:</strong></td>
              <td>{{ nota.fecha }}</td>
          </tr>
          <tr>
              <td class="w-30"><strong>Usuario:</strong></td>
              <td>{{ nota.usuario }}</td>
          </tr>
          <tr>
              <td class="w-30"><strong>Entrega en:</strong></td>
              <td>{{ nota.entrega }}</td>
          </tr>
          <tr>
              <td class="w-30"><strong>Articulos:</strong></td>
                <td>
                  <ul>
                    {% for articulo in nota.articulos.all %}
                    <li><a href="{% url 'articulo' articulo.pk %}">{{ articulo.sumario }}</a></li>
                    {% endfor %}
                  </ul>
                </td>
          </tr>
      </table>
  </div>
{% endblock %}
