{% extends "base_generic.html" %}
{% load static %}
{% block titulo %} Producto en detalle | PEDIDOS TERSTEM{% endblock %}
{% block header %}Información sobre el producto {{ producto.referencia }}.{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <table id="detalle-producto" class="table table-striped table-bordered table-sm">
          <tr>
              <td class="w-30"><strong>Nombre amistoso:</strong></td>
              <td>{{ producto.nombre_amistoso }}</td>
          </tr>
          <tr>
              <td class="w-30"><strong>Nombre oficial:</strong></td>
              <td>{{ producto.nombre_fabricante }}</td>
          </tr>
          <tr>
              <td class="w-30"><strong>Fabricante:</strong></td>
              <td>{{ producto.fabricante }}</td>
          </tr>
          <tr>
              <td class="w-30"><strong>Referencia:</strong></td>
              <td>{{ producto.referencia }}</td>
          </tr>
          <tr>
              <td class="w-30"><strong>Formato:</strong></td>
              <td>{{ producto.formato }}</td>
          </tr>
          <tr>
              <td class="w-30"><strong>Distribuidor predeterminado:</strong></td>
              <td>{{ producto.distribuidor }}</td>
          </tr>
          <tr>
              <td class="w-30"><strong>Categoría:</strong></td>
              <td>{{ producto.get_categoria_display }}</td>
          </tr>
          <tr>
              <td class="w-30"><strong>Pedidos en curso:</strong></td>
              <td>
                {% if producto.en_curso %}
                <ul>
                  {% for articulo in producto.en_curso %}
                    {% if articulo.estado != 'r' %}
                      <li><a href="{% url 'articulo' articulo.pk %}">{{ articulo.sumario }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
                {% else %}
                No hay ningúna solicitud de este producto en este momento.
                {% endif %}
              </td>
          </tr>
      </table>
  </div>
{% endblock %}
