{% extends "base_generic.html" %}
{% load static %}
{% block titulo %}Tablón | PEDIDOS TERSTEM{% endblock %}
{% block extracss %}
  <!-- CSS especifico de datatables para el estilo a juego con bootstrap -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block header %}Bienvenid@ a tu tablón, {{ request.user.get_short_name }} <i class="far fa-laugh-beam"></i>{% endblock %}
{% block contenido %}
  {% if articulo_list %}
  <div class="row mt-1">
    <div class="col-xl-2">
      <div class="card mb-2 mb-xl-1 shadow-sm">
        <div class="card-header text-center">
          <strong>TUS ESTADISTICAS</strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            Has realizado un total de <strong>{{ estads.total }} pedidos</strong>, de los cuales
            estás pendiente de recibir <strong>{{ estads.pendientes }}</strong>
          </p>
        </div>
      </div>
      <div class="card mb-2 mb-xl-1 mt-xl-4 shadow-sm">
        <div class="card-body">
          <p class="card-text">
            Por favor, recuerda <strong>recepcionar</strong> en la aplicación los pedidos
            que hayas recibido. Hagamos del laboratorio un sitio mas ordenado entre todos
            <i class="far fa-smile-wink"></i>
          </p>
        </div>
      </div>
      <div class="card mb-2 mb-xl-1 mt-xl-4 shadow-sm text-center">
        <div class="card-body">
          <p class="card-text">
            <a href="" class="btn btn-primary w-75" role="button"><i class="fas fa-user-edit mr-1"></i>Contraseña</a>
            <a href="" class="btn btn-primary mt-1 w-75" role="button"><i class="fas fa-sign-out-alt pr-1"></i>Cerrar sesión</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-10">
      <table id="tablon" class="table table-striped table-hover table-sm table-responsive-lg">
        <thead class="thead-light">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Producto</th>
            <th scope="col" class="copiable">Pedido</th>
            <th scope="col" class="copiable">CPM</th>
            <th scope="col">Referencia</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Distribuidor</th>
            <th scope="col">Unidades</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for articulo in articulo_list %}
          <tr>
            <td>{{ articulo.nota.fecha|date:"SHORT_DATETIME_FORMAT" }}</td>
            {% if articulo.estado == 'i' %}
            <td>{{ articulo.pedido.get_estado_display }}</td>
            {% else %}
            <td>{{ articulo.get_estado_display }}</td>
            {% endif %}
            <th scope="row">
              {{ articulo.producto.nombre_fabricante }}
              <!-- {% if articulo.atrasado %} TODO: Implementar meth:atrasado
                <span class="badge badge-pill badge-info">
                  <i class="fas fa-clock ml-1"></i>
                </span>
              {% endif %} -->
            </th>
            <td class="user-select-all"> <!-- QUESTION: Usar clipboardjs? -->
              {% if articulo.estado != 'p'%}
              {{ articulo.pedido.codigo }}
              {% else %}
              Pendiente.
              {% endif %}
            </td>
            <td class="user-select-all"> <!-- TODO: Modificar logica, se queda vacio si se elimina el pedido. -->
              {% if articulo.estado != 'p'%}
              {{ articulo.pedido.cpm }}
              {% else %}
              Pendiente.
              {% endif %}
            </td>
            <td>{{ articulo.producto.referencia }}</td>
            <td>{{ articulo.producto.fabricante.nombre }}</td>
            <td>
              {% if articulo.pedido %}
              {{ articulo.pedido.distribuidor.nombre }}
              {% else %}
              Pendiente.
              {% endif %}
            </td>
            <td>{{ articulo.unidades }}</td>
            <td>
              <a href="{% url 'recepcion' articulo.pk %}" class="btn btn-success active py-1 px-2"
                  role="button" aria-pressed="true"><i class="far fa-check-circle"></i></a>
              <a href="{% url 'reclamar' articulo.pk %}" class="btn btn-warning active p-1"
                  role="button" aria-pressed="true"><i class="fas fa-bell"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- <Paginación bootstrap> -->
      <nav aria-label="Paginacion d-flex">
        <ul class="pagination pagination-sm">
          <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %} aria-label="Anterior">
              <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
            </a>
          </li>
          {% for i in paginator.page_range %}
          <li class="page-item {% if page_obj.number == i%}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endfor %}
          <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %} aria-label="Siguiente">
              <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
            </a>
          </li>
          <div id="leyenda" class="pl-2">
            <span class="pr-1">Leyenda:</span>
            <a href="" class="btn btn-success btn-sm disabled mr-1 p-1"
                role="button" aria-pressed="true"><i class="far fa-check-circle mr-1"></i>Recepcionar</a>
            <a href="" class="btn btn-sm btn-warning disabled mx-1 p-1"
                role="button" aria-pressed="true"><i class="fas fa-bell mr-1"></i>Reclamar</a>
            <a href="" class="btn btn-sm btn-info disabled mx-1 p-1"
                role="button" aria-pressed="true"><i class="fas fa-clock mr-1"></i>Atrasado</a>
          </div>
          <!-- Leyenda -->
        </ul>
      </nav>
      <!-- </Paginación bootstrap> -->
    </div>
  </div>
  {% else %}
  <div class="alert alert-dark" role="alert">
    ¡Vaya! Parece que no hay nada que mostrar...
  </div>
  {% endif %}
  {% block jquery %}
    <!-- jQuery especifico para DataTables, ya que no reconoce el de bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  {% endblock %}
  {% block extrajs %}
    <!-- JS necesario para Datatables. -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>
    <!-- JS para copiar codigos con un click -->
    <script src="{% static 'gestion/js/copiable.js' %}"></script>
  {% endblock %}
  <script type="text/javascript">
    $(document).ready( function () {
      $.fn.dataTable.moment( 'DD/MM/YYYY HH:mm' );
      $('#tablon').DataTable({
        order: [ 0, 'desc' ],
        paging: false,
        searching: false,
        info: false,
      });
    } );
  </script>
{% endblock %}
