{% extends "base_generic.html" %}
{% block titulo %}Tablón | PEDIDOS TERSTEM{% endblock %}
{% block extracss %}
  <!-- CSS especifico de datatables para el estilo a juego con bootstrap -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block header %}Bienvenido a tu tablón, {{ request.user.get_short_name }} <i class="far fa-laugh-beam"></i>{% endblock %}
{% block contenido %}
  {% if articulo_list %}
  <div class="row mt-1">
    <div class="col-xl-2">
      <div class="card mb-2 mb-xl-1 shadow-sm">
        <div class="card-header text-center">
          <strong>TUS ESTADISTICAS</strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            Has realizado un total de <strong>{{ estads.total }} pedidos</strong>, de los cuales
            estás pendiente de recibir <strong>{{ estads.pendientes}}</strong>.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-10">
      <table id="Tablon" class="table table-striped table-hover table-sm table-responsive-lg">
        <thead class="thead-light">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Producto</th>
            <th scope="col" class="copiable">Pedido</th>
            <th scope="col" class="copiable">CPM</th>
            <th scope="col">Referencia</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Distribuidor</th>
            <th scope="col">Unidades</th>
          </tr>
        </thead>
        <tbody>
          {% for articulo in articulo_list %}
          <tr>
            <th scope="row">{{ articulo.nota.fecha|date:"SHORT_DATETIME_FORMAT" }}</th>
            {% if articulo.estado == 'i' %}
            <td>{{ articulo.pedido.get_estado_display }}</td>
            {% else %}
            <td>{{ articulo.get_estado_display }}</td>
            {% endif %}
            <td>{{ articulo.producto.nombre_fabricante }}</td>
            <td class="user-select-all"> <!-- TODO: Usar clipboardjs? -->
              {% if articulo.estado != 'p'%}
              {{ articulo.pedido.codigo }}
              {% else %}
              Pendiente.
              {% endif %}
            </td>
            <td class="user-select-all">
              {% if articulo.estado != 'p'%}
              {{ articulo.pedido.cpm }}
              {% else %}
              Pendiente.
              {% endif %}
            </td>
            <td>{{ articulo.producto.referencia }}</td>
            <td>{{ articulo.producto.fabricante.nombre }}</td>
            <td>
              {% if articulo.pedido %}
              {{ articulo.pedido.distribuidor.nombre }}
              {% else %}
              Pendiente.
              {% endif %}
            </td>
            <td>{{ articulo.unidades }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- <Paginación bootstrap> -->
      <nav aria-label="Paginacion">
        <ul class="pagination pagination-sm">
          <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %} aria-label="Anterior">
              <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
            </a>
          </li>
          {% for i in paginator.page_range %}
          <li class="page-item {% if page_obj.number == i%}active{% endif %}"><a class="page-link" href="?page={{ i }}">1</a></li>
          {% endfor %}
          <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %} aria-label="Siguiente">
              <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- <Paginación bootstrap/> -->
    </div>
  </div>
  {% else %}
  <div class="alert alert-dark" role="alert">
    ¡Vaya! Parece que no hay nada que mostrar...
  </div>
  {% endif %}
  {% block extrajs %}
    <!-- JS necesario para Datatables. Cargamos otra version de jQuery, ya que
    Datatables no reconoce la libreria jQuery de bootstrap. -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
  {% endblock %}
  <script type="text/javascript">
  $(document).ready( function () {
    $('#Tablon').DataTable({
      paging: false,
      searching: false,
      info: false,
    });
  } );

  function indexInParent(node) {
    var children = node.parentNode.childNodes;
    var num = 0;
    for (var i=0; i<children.length; i++) {
      if (children[i]==node) return num+1;
      if (children[i].nodeType==1) num++;
    }
    return -1;
  }

  function copy(event) {
    var target = event.target || event.srcElement;
    var copyText = target.innerText || target.textContent;
    navigator.clipboard.writeText(copyText)

    // Seleccionar la celda -> No me interesa por ahora.
    // var range = document.createRange();
    // range.selectNode(target);
    // window.getSelection().removeAllRanges();
    // window.getSelection().addRange(range);
  }

  var columnas = document.getElementsByClassName("copiable")

  for (var i=0; i < columnas.length; i++) {
    var columna = columnas[i];
    var index = indexInParent(columna);
    document.querySelectorAll("td:nth-child("+index+")")
    .forEach(elem => elem.addEventListener("click", copy))
  }
  </script>
{% endblock %}
