#empty-form {
  display: none;
}

html, body {
  height: 100%;
}

.asteriskField {
  display: none;
}

.select2-container .select2-selection--single {
  height: calc(2.25rem + 2px);
}

#entrega select {
  width: 15em;
}

hr {
  border-top: 2px solid gray;
}

#historial-pedidos a {
  font-weight: bold;
}

#detalle-pedido a {
  color: black;
}

#boton-copia {
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: inherit;
}

#boton-copia:hover {
  border: none;
  padding: 0px;
  margin: 0px;
  color: grey;
}

#secretaria .c span {
  background-color: #FFE797;
  padding: 0.08em;
  border-radius: 0.2rem;
}
